USE [master]
GO
/****** Object:  Database [myWorkforceDevServiceProviderProject]    Script Date: 9/29/2025 11:26:49 PM ******/
CREATE DATABASE [myWorkforceDevServiceProviderProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myWorkforceDevServiceProviderProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myWorkforceDevServiceProviderProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myWorkforceDevServiceProviderProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myWorkforceDevServiceProviderProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myWorkforceDevServiceProviderProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myWorkforceDevServiceProviderProject]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[Street_Number] [int] NOT NULL,
	[Street1] [nvarchar](50) NOT NULL,
	[Street2] [nchar](25) NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zip_Code] [nchar](5) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agency]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agency](
	[AgencyType] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apprenticeship]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apprenticeship](
	[Apprenticeship_ID] [int] IDENTITY(1,1) NOT NULL,
	[Business_ID] [int] NOT NULL,
	[Job_Candidate_ID] [int] NULL,
	[Address_ID] [nvarchar](50) NOT NULL,
	[Job_Category_ID] [int] NOT NULL,
	[Apprenticeship_Start_Date] [date] NULL,
	[Salary_Category] [int] NOT NULL,
 CONSTRAINT [PK_Apprenticeship] PRIMARY KEY CLUSTERED 
(
	[Apprenticeship_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Business_Owner]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business_Owner](
	[Business_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address_ID] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone_Number] [nchar](10) NOT NULL,
	[Business_Type_ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Business_Owner] PRIMARY KEY CLUSTERED 
(
	[Business_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessType]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessType](
	[Business_Type] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateStatus_Type]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateStatus_Type](
	[CandidateStatus_ID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Contract_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date_Executed] [date] NOT NULL,
	[Contract_Value] [money] NOT NULL,
	[Business_ID] [int] NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[Contract_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[Education_Type] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Date_Completed] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date_Issued] [date] NOT NULL,
	[Amount_Due] [money] NOT NULL,
	[Due_Date] [date] NOT NULL,
	[Business_ID] [int] NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCandidate]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCandidate](
	[Job_Candidate_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Middle_Initial] [nchar](1) NULL,
	[DoB] [date] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address_ID] [nvarchar](50) NOT NULL,
	[Phone_Number] [nchar](10) NOT NULL,
	[Education_Type_ID] [int] NOT NULL,
	[Status_ID] [int] NOT NULL,
 CONSTRAINT [PK_JobCandidate] PRIMARY KEY CLUSTERED 
(
	[Job_Candidate_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[Receipt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_ID] [int] NOT NULL,
	[Business_ID] [int] NOT NULL,
	[Job_Candidate_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Amount_Paid] [money] NOT NULL,
	[Amount_Due] [money] NOT NULL,
	[Balance_Remaining] [money] NOT NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[Receipt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateWorkforceDevAgent]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateWorkforceDevAgent](
	[Agent_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](25) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Middle_Initial] [nchar](1) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone_Number] [nchar](10) NOT NULL,
	[Address_ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_StateWorkforceDevAgent] PRIMARY KEY CLUSTERED 
(
	[Agent_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workforce_Dev_Service_Provider]    Script Date: 9/29/2025 11:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workforce_Dev_Service_Provider](
	[Provider_ID] [int] IDENTITY(1,1) NOT NULL,
	[Provider_Name] [varchar](50) NOT NULL,
	[Representative_Last_Name] [nvarchar](50) NOT NULL,
	[Representative_First_Name] [nvarchar](50) NOT NULL,
	[Address_ID] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone_Number] [nchar](10) NOT NULL,
	[Business_Type_ID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Workforce_Dev_Service_Provider] PRIMARY KEY CLUSTERED 
(
	[Provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Address_ID], [Street_Number], [Street1], [Street2], [City], [State], [Zip_Code]) VALUES (1, 21, N'Sesame Street', NULL, N'Baltimore', N'MD', N'21212')
INSERT [dbo].[Address] ([Address_ID], [Street_Number], [Street1], [Street2], [City], [State], [Zip_Code]) VALUES (2, 310, N'Elm Street', N'                         ', N'Baltimore', N'MD', N'21215')
INSERT [dbo].[Address] ([Address_ID], [Street_Number], [Street1], [Street2], [City], [State], [Zip_Code]) VALUES (3, 400, N'Federal Hill Ave', NULL, N'Baltimore', N'MD', N'21202')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
INSERT [dbo].[Agency] ([AgencyType], [TypeName]) VALUES (1, N'State_Gov')
INSERT [dbo].[Agency] ([AgencyType], [TypeName]) VALUES (2, N'State_Small_Business')
INSERT [dbo].[Agency] ([AgencyType], [TypeName]) VALUES (3, N'State_Workforce_Dev_Service_Provider')
GO
SET IDENTITY_INSERT [dbo].[Apprenticeship] ON 

INSERT [dbo].[Apprenticeship] ([Apprenticeship_ID], [Business_ID], [Job_Candidate_ID], [Address_ID], [Job_Category_ID], [Apprenticeship_Start_Date], [Salary_Category]) VALUES (1, 1, 1, N'2', 2, CAST(N'2025-08-01' AS Date), 1)
INSERT [dbo].[Apprenticeship] ([Apprenticeship_ID], [Business_ID], [Job_Candidate_ID], [Address_ID], [Job_Category_ID], [Apprenticeship_Start_Date], [Salary_Category]) VALUES (2, 3, 2, N'2', 3, CAST(N'2025-06-01' AS Date), 2)
INSERT [dbo].[Apprenticeship] ([Apprenticeship_ID], [Business_ID], [Job_Candidate_ID], [Address_ID], [Job_Category_ID], [Apprenticeship_Start_Date], [Salary_Category]) VALUES (3, 4, 3, N'4', 1, CAST(N'2025-04-01' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Apprenticeship] OFF
GO
SET IDENTITY_INSERT [dbo].[Business_Owner] ON 

INSERT [dbo].[Business_Owner] ([Business_ID], [Name], [Address_ID], [Email], [Phone_Number], [Business_Type_ID]) VALUES (1, N'Best_Solar', N'2', N'bestsolar.com', N'4105559876', N'2         ')
INSERT [dbo].[Business_Owner] ([Business_ID], [Name], [Address_ID], [Email], [Phone_Number], [Business_Type_ID]) VALUES (2, N'Cleanest_Energy', N'2', N'cleanestenergy.com', N'4105556543', N'2         ')
INSERT [dbo].[Business_Owner] ([Business_ID], [Name], [Address_ID], [Email], [Phone_Number], [Business_Type_ID]) VALUES (3, N'Nerd_Team', N'2', N'nerdteam.com', N'4105554321', N'3         ')
SET IDENTITY_INSERT [dbo].[Business_Owner] OFF
GO
INSERT [dbo].[BusinessType] ([Business_Type], [Category]) VALUES (1, N'Manufacturing')
INSERT [dbo].[BusinessType] ([Business_Type], [Category]) VALUES (2, N'Green_Energy')
INSERT [dbo].[BusinessType] ([Business_Type], [Category]) VALUES (3, N'Info_Tech')
GO
INSERT [dbo].[CandidateStatus_Type] ([CandidateStatus_ID], [Status]) VALUES (1, N'Hired')
INSERT [dbo].[CandidateStatus_Type] ([CandidateStatus_ID], [Status]) VALUES (2, N'Not_Hired')
INSERT [dbo].[CandidateStatus_Type] ([CandidateStatus_ID], [Status]) VALUES (3, N'Declined_Offer')
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([Contract_ID], [Date_Executed], [Contract_Value], [Business_ID]) VALUES (1, CAST(N'2025-03-30' AS Date), 15000.0000, 1)
INSERT [dbo].[Contract] ([Contract_ID], [Date_Executed], [Contract_Value], [Business_ID]) VALUES (2, CAST(N'2025-06-01' AS Date), 21000.0000, 3)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([Invoice_ID], [Date_Issued], [Amount_Due], [Due_Date], [Business_ID]) VALUES (1, CAST(N'2025-08-01' AS Date), 15000.0000, CAST(N'2025-09-01' AS Date), 1)
INSERT [dbo].[Invoice] ([Invoice_ID], [Date_Issued], [Amount_Due], [Due_Date], [Business_ID]) VALUES (2, CAST(N'2025-09-01' AS Date), 21000.0000, CAST(N'2025-10-01' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[JobCandidate] ON 

INSERT [dbo].[JobCandidate] ([Job_Candidate_ID], [First_Name], [Last_Name], [Middle_Initial], [DoB], [Email], [Address_ID], [Phone_Number], [Education_Type_ID], [Status_ID]) VALUES (5, N'Eddie', N'Murphy', NULL, CAST(N'1990-10-01' AS Date), N'emurphy@mail.com', N'5', N'4105550123', 2, 1)
INSERT [dbo].[JobCandidate] ([Job_Candidate_ID], [First_Name], [Last_Name], [Middle_Initial], [DoB], [Email], [Address_ID], [Phone_Number], [Education_Type_ID], [Status_ID]) VALUES (6, N'Pete', N'Davidson', NULL, CAST(N'1985-09-02' AS Date), N'pdavids@mail.com', N'1', N'4105553333', 1, 3)
INSERT [dbo].[JobCandidate] ([Job_Candidate_ID], [First_Name], [Last_Name], [Middle_Initial], [DoB], [Email], [Address_ID], [Phone_Number], [Education_Type_ID], [Status_ID]) VALUES (8, N'Amy', N'Pohler', NULL, CAST(N'1980-09-09' AS Date), N'apohler@mail.com', N'5', N'4105554444', 3, 1)
SET IDENTITY_INSERT [dbo].[JobCandidate] OFF
GO
SET IDENTITY_INSERT [dbo].[StateWorkforceDevAgent] ON 

INSERT [dbo].[StateWorkforceDevAgent] ([Agent_ID], [First_Name], [Last_Name], [Middle_Initial], [Email], [Phone_Number], [Address_ID]) VALUES (1, N'Patricia', N'Duke', NULL, N'agent1@state.gov', N'4105551234', N'3         ')
INSERT [dbo].[StateWorkforceDevAgent] ([Agent_ID], [First_Name], [Last_Name], [Middle_Initial], [Email], [Phone_Number], [Address_ID]) VALUES (2, N'Kenan', N'Thompson', NULL, N'agent2@state.gov', N'4105552345', N'3         ')
INSERT [dbo].[StateWorkforceDevAgent] ([Agent_ID], [First_Name], [Last_Name], [Middle_Initial], [Email], [Phone_Number], [Address_ID]) VALUES (3, N'Tina', N'Fey', NULL, N'agent3@state.gov', N'4105553456', N'3         ')
SET IDENTITY_INSERT [dbo].[StateWorkforceDevAgent] OFF
GO
SET IDENTITY_INSERT [dbo].[Workforce_Dev_Service_Provider] ON 

INSERT [dbo].[Workforce_Dev_Service_Provider] ([Provider_ID], [Provider_Name], [Representative_Last_Name], [Representative_First_Name], [Address_ID], [Email], [Phone_Number], [Business_Type_ID]) VALUES (1, N'ApprenticesR_US', N'Smith', N'Robert', N'6', N'apprentice.com', N'4105559000', N'3         ')
INSERT [dbo].[Workforce_Dev_Service_Provider] ([Provider_ID], [Provider_Name], [Representative_Last_Name], [Representative_First_Name], [Address_ID], [Email], [Phone_Number], [Business_Type_ID]) VALUES (2, N'Trainees_4_You', N'Doe', N'Jane', N'6', N'trainees.com', N'4105559100', N'3         ')
SET IDENTITY_INSERT [dbo].[Workforce_Dev_Service_Provider] OFF
GO
USE [master]
GO
